 
.dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.stat-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 110%;
}

.stat-card {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;  
  text-align: center;
  width: 40%;
  height: 150px; /* Increased height */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Add margin for spacing */
}

.stat-card.students-card {
  background-color: #ffcccb; /* Light Red */
}

.stat-card.teachers-card {
  background-color: #d4edda; /* Light Green */
}

.stat-card.classes-card {
  background-color: #cce5ff; /* Light Blue */
}

.stat-card.subjects-card {
  background-color: #f8d7da; /* Light Pink */
}

.stat-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.stat-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.stat-info p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #969090;
  margin-left: 100px;
}

.chart {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  width: 70%;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
  margin: 5px; /* Add margin for spacing */
}

.latest-updates {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Add margin for spacing */
}

.latest-updates h3 {
  margin-top: 0;
}

.latest-updates ul {
  list-style: none;
  padding: 0;
}

.latest-updates ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}

.latest-updates ul li::before {
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
 