.teacher-list-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header .add-button {
    margin-left: auto; /* This will move the button to the right */
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .add-teacher-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .form-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-buttons button:hover {
    background-color: #45a049;
  }
  
  .teacher-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .teacher-table th, .teacher-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .teacher-table th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .teacher-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .edit-button, .delete-button {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .edit-button:hover {
    background-color: #007B9E;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  